@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(/fontes/idroid.otf);
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {                     /*Local para adicioar variaveis*/
    --cor0: #c5ebd6;     
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-seriff;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;

}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

p {
    margin: 15px 0px;
    text-align: justify;
}


header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5) );
    min-height: 150px; /*1 passo, altura minima*/
    text-align: center; /*2 passo, alinhar o texto*/
    padding-top: 40px; /*espaço do texto para o topo da pagina*/
    
}


header > p {
    color: white;
    text-align: center;
    max-width: 500px; /*quando coloca o maxwidth ele vira um bloco*/
    margin: auto; /*por ter virado bloco, o magin faz ele centralizar*/
    padding-right: 10px;
    padding-left: 10px; /*os dois padding foram feitos para não colar nas laterais*/
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.623);
    padding-bottom: 30px;
}

header > h1 {
    text-align: center;
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 30px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.623);
    font-weight: normal;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.664);
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;  /*da uma quebradinha nas bordas*/
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor4);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
}

div.video {
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin-top: 0px;
    margin-right: -10px;
    margin-left: -10px;
    padding: 20px;
    padding-bottom: 45%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%; 
    left: 5%;
    width: 90%;
    height: 90%;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px; /* configuração que faz o inicio do paragrafo ter espaço*/
    font-size: 1em;
    line-height: 1.1em; /*espaçamento entre um paragrafo e outro*/
}

main strong {  /*tudo que for strong será mudado aqui*/
    color: var(--cor4);
    font-weight: bold;
    background-color: var(--cor0);
    padding: 2px 6px;
}

main a { /*links do conteudo do site*/
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor1);
    background-color: var(--cor2);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
}

main h2 {
    color: var(cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
} 

main img {
    max-width: 100%;
}

main img.bugdroidpequena {
    max-width: 320px;
    display: block;
    margin: auto;
}


main iframe {
    max-width: 100%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; /*margin negativa da pra aumentar o tamanho do background*/
    border-radius: 10px 10px 0px 0px; /*sentido horario sempre*/
}

aside > ul {
    list-style-type: '\2714\00A0\00A0'; /*coloca uma barra e o 00a0 faz referencia ao espaço*/
    list-style-position: inside; /*coloca a bola da lista dentro do box*/
    columns: 2; /*cria uma coluna*/
    
}

footer {
    border-radius: 3px;
    text-align: center;
    background-color: var(--cor4);
    color: white;
    font-size: 0.8em;
    padding: 5px;
}

